<%- include("./partials/header.ejs") -%>

<h1>Compose</h1>
<form class="" action="/" method="post">
  <label for="postTitle">Title</label>
  <input type="text" name="postTitle" value="">
  <label for="newPost">Content</label>
  <textarea name="newPost" rows="8" cols="80"></textarea>
  <button class="btn btn-lg btn-info" type="submit" name="button">Publish</button>
</form>

<%- include("./partials/footer.ejs") -%>
